*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:380px;
    background:#1e293b;
    padding:20px;
    border-radius:10px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.card{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border-radius:6px;
    border:none;
    outline:none;
}

button{
    padding:10px 14px;
    border:none;
    border-radius:6px;
    background:#38bdf8;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    opacity:0.9;
}

.hidden{
    display:none;
}

#result{
    margin-top:15px;
    display:flex;
    gap:10px;
}

.list{
    margin-top:20px;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:#334155;
    margin-bottom:8px;
    padding:8px;
    border-radius:6px;
    font-size:14px;
}
