:root {
  --bg: #f2f2f2;
  --card: #ffffff;
  --text: #000000;
  --btn: #007bff;
}

body.dark {
  --bg: #121212;
  --card: #1e1e1e;
  --text: #ffffff;
  --btn: #0d6efd;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: var(--card);
  width: 320px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#themeToggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.generate {
  background: var(--btn);
  color: white;
}

.download {
  background: green;
  color: white;
  display: none;
}

#qrBox {
  margin-top: 20px;
}
