body {
    background-color: #011F3F;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
}

.game-board {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.btn {
    height: 180px;
    width: 180px;
    border: 10px solid black;
    border-radius: 20%;
    cursor: pointer;
}

.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.yellow { background-color: yellow; }

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}