* {
    margin: 0;
    padding: 0;
    font-family: "Schoolbell";
    text-align: center;
}

body {
    background-color: rgb(38, 38, 38);
    color: white;
    transition: background-color 0.4s ease;
}

h3 {
    margin-top: 1rem;
}

span {
    color: greenyellow;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.btn {
    width: 150px;
    height: 150px;
    border: 10px solid rgba(0, 0, 0, 0.113);
    margin: 1rem;
    border-radius: 20%;
}

.red {
    background-color: #DD4B3E;
}

.blue {
    background-color: #4B3EDD;
}

.yellow {
    background-color: #ffd037ef;
}

.green {
    background-color: #3EDD4B;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: rgb(255, 28, 217);
    transition: background-color 0.1s ease;
}