* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(21, 21, 21);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid rgb(100, 55, 100);
}

button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
}

#win {
    display: none;
    color: rgb(24, 220, 66);
}

#lose {
    display: none;
    color: rgb(251, 40, 96);
}